# Build output
dist/
dist/*

# Environment variables and secrets

# Dependencies
node_modules/

# IDE files
.idea/

# OS files
.DS_Store
.cursor-tutor.code-workspace
git
sample_youtube_transcript.txt
.vscode/launch.json
youtube_professional_transcript_chrome_extension.zip
professionalyoutubetranscript-key.json
*.mp4